.home {
  background-color: #CE2829;
  background-image: url('../assets/home-banner.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  align-items: center;
}

.home img.logo {
  height: 1.75rem;
  margin-top: 1.5rem;
}

.home .headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.75rem;
  font-weight: 200;
  color: white;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 2rem 0;
}

.home .order-button {
  background-color: #FDC913;
  padding: 0.75rem 2.75rem;
  color: #292929;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.85rem;
  border-radius: 50px;
  cursor: pointer;
}