.success {
  background-color: #CE2829;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  align-items: center;
}

.success img.logo {
  height: 1.75rem;
  margin-top: 1.5rem;
}

.success .content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-bottom: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success .content h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.75rem;
  font-weight: 200;
  color: white;
  letter-spacing: 1.5px;
  line-height: 1;
  text-align: center;
}