.header {
  background-color: #CE2829;
  height: 140px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header .content {
  width: 35%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.header .content img {
  height: 80px;
  padding: 1.5rem 0;
}

.header .content a {
  font-family: 'Barlow', sans-serif;
  font-size: 0.8rem;
  color: white;
  width: 100%;
}

.header .content a:hover {
  color: white;
}